/*riki*/
body{
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container{
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    width: 320px;
    text-align: center;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

.input-box{
    position: relative;
    margin: 20px 0;
}

.input-box input{
    width: 100%;
    padding: 12px 15px;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    border-bottom: 2px solid rgba(255,255, 255, 0.5);
    transition: 0.4s;
}

.input-box input:focus{
    border-color: #00ffff;
}

.input-box span {
    position: absolute;
    left: 15px;
    top: 50%;
    color: rgba(255, 255, 255, 0);
    transform: translateY(-50%);
    transition: 0.4s;
}

.submit-btn{
    background: linear-gradient(90deg, #00ffff, #00ff80);
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}